@using immfegi.External
@model immfegi.ViewModels.Article.DetailsArticleViewModel

@{
    ViewData["Title"] = "Детали заявки";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Детали заявки</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Дата и время загрузки статьи:</dt>
                        <dd class="col-sm-8">@Model.UploadDateTime</dd>
                        
                        <dt class="col-sm-4">Статус заявки:</dt>
                        <dd class="col-sm-8">@Model.ArticleFormStatus.GetDisplayName()</dd>
                        
                        <div class="m-3">
                            <h3 class="text-center fw-bold">Докладчик</h3>
                        </div>
                        
                        <dt class="col-sm-4">ФИО:</dt>
                        <dd class="col-sm-8">@Model.SpeakerSurname @Model.SpeakerName @Model.SpeakerPatronymic</dd>

                        <dt class="col-sm-4">Полное название образовательного учреждения:</dt>
                        <dd class="col-sm-8">@Model.FullEducationInstitutionName</dd>

                        <dt class="col-sm-4">Занимаемая должность:</dt>
                        <dd class="col-sm-8">@Model.SpeakerPost</dd>

                        <dt class="col-sm-4">Курс обучения:</dt>
                        <dd class="col-sm-8">@Model.Course</dd>

                        <dt class="col-sm-4">Научное звание:</dt>
                        <dd class="col-sm-8">@Model.ScientificTitle</dd>

                        <dt class="col-sm-4">Группа:</dt>
                        <dd class="col-sm-8">@Model.Group</dd>


                        <dt class="col-sm-4">Название статьи на русском:</dt>
                        <dd class="col-sm-8">@Model.ArticleNameOnRussian</dd>

                        <dt class="col-sm-4">Название статьи на английском:</dt>
                        <dd class="col-sm-8">@Model.ArticleNameOnEnglish</dd>

                        <dt class="col-sm-4">Предполагаемое участие:</dt>
                        <dd class="col-sm-8">@Model.IntendedParticipation.GetDisplayName()</dd>

                        <dt class="col-sm-4">Секция:</dt>
                        <dd class="col-sm-8">@Model.Section</dd>

                        <dt class="col-sm-4">Электронная почта:</dt>
                        <dd class="col-sm-8">@Model.SpeakerEmail</dd>

                        <dt class="col-sm-4">Статус:</dt>
                        <dd class="col-sm-8">@Model.SpeakerRole.GetDisplayName()</dd>

                        <div class="m-3">
                            <h3 class="text-center fw-bold">Научный руководитель</h3>
                        </div>

                        <dt class="col-sm-4">ФИО:</dt>
                        <dd class="col-sm-8">@Model.ScientificDirectorSurname @Model.ScientificDirectorName @Model.ScientificDirectorPatronymic</dd>

                        <dt class="col-sm-4">Полное название образовательного учреждения:</dt>
                        <dd class="col-sm-8">@Model.ScientificDirectorFullEducationInstitutionName</dd>

                        <dt class="col-sm-4">Занимаемая дожность:</dt>
                        <dd class="col-sm-8">@Model.ScientificDirectorPost</dd>

                        <dt class="col-sm-4">Ученое звание:</dt>
                        <dd class="col-sm-8">@Model.ScientificDirectorTitle</dd>
                        
                        <dt class="col-sm-4">Телефон:</dt>
                        <dd class="col-sm-8">@Model.ScientificDirectorPhoneNumber</dd>

                        <dt class="col-sm-4">Электронная почта:</dt>
                        <dd class="col-sm-8">@Model.ScientificDirectorEmail</dd>
                    </dl>
                    <form method="post" action="@Url.Action("Delete", "Article")">
                        @Html.AntiForgeryToken()
                        <input readonly type="hidden" id="Id" name="Id" asp-for="Id" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>