@using immfegi.External
@model immfegi.ViewModels.SchoolArticle.DetailsSchoolArticleViewModel

@{
    ViewData["Title"] = "Детали заявки";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Детали заявки</h3>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Дата и время загрузки статьи:</dt>
                        <dd class="col-sm-8">@Model.UploadDateTime</dd>
                        
                        <dt class="col-sm-4">Статус заявки:</dt>
                        <dd class="col-sm-8">@Model.ArticleFormStatus.GetDisplayName()</dd>
                        
                        <div class="m-3">
                            <h3 class="text-center fw-bold">Докладчик</h3>
                        </div>
                        
                        <dt class="col-sm-4">ФИО:</dt>
                        <dd class="col-sm-8">@Model.SchoolBoySurname @Model.SchoolBoyName @Model.SchoolBoyPatronymic</dd>
                        
                        <dt class="col-sm-4">Название работы:</dt>
                        <dd class="col-sm-8">@Model.ArticleName</dd>
                        
                        <dt class="col-sm-4">Секция:</dt>
                        <dd class="col-sm-8">@Model.Section</dd>
                        
                        <dt class="col-sm-4">Направление:</dt>
                        <dd class="col-sm-8">@Model.ArticleActivities.GetDisplayName()</dd>
                        
                        <dt class="col-sm-4">Дата рождения:</dt>
                        <dd class="col-sm-8">@Model.BirthDate.ToString("dd.MM.yyyy")</dd>
                        
                        <dt class="col-sm-4">Класс:</dt>
                        <dd class="col-sm-8">@Model.SchoolBoyClass</dd>

                        <dt class="col-sm-4">Полное название образовательного учреждения:</dt>
                        <dd class="col-sm-8">@Model.FullEducationInstitutionName</dd>
                        
                        <dt class="col-sm-4">Сокращенное название образовательного учреждения:</dt>
                        <dd class="col-sm-8">@Model.AbbreviatedEducationInstitutionName</dd>
                        
                        <dt class="col-sm-4">Город:</dt>
                        <dd class="col-sm-8">@Model.City</dd>

                        <dt class="col-sm-4">Муниципальный район:</dt>
                        <dd class="col-sm-8">@Model.MunicipalDistrict</dd>

                        <dt class="col-sm-4">Городской округ:</dt>
                        <dd class="col-sm-8">@Model.UrbanDistrict</dd>

                        <dt class="col-sm-4">Телефон:</dt>
                        <dd class="col-sm-8">@Model.SchoolBoyPhoneNumber</dd>
                        
                        <dt class="col-sm-4">Электронная почта:</dt>
                        <dd class="col-sm-8">@Model.SchoolBoyEmail</dd>

                        <div class="m-3">
                            <h3 class="text-center fw-bold">Научный руководитель</h3>
                        </div>

                        <dt class="col-sm-4">ФИО:</dt>
                        <dd class="col-sm-8">@Model.ScientificDirectorSurname @Model.ScientificDirectorName @Model.ScientificDirectorPatronymic</dd>

                        <dt class="col-sm-4">Ученое звание:</dt>
                        <dd class="col-sm-8">@Model.ScientificDirectorTitle</dd>
                        
                        <dt class="col-sm-4">Занимаемая дожность:</dt>
                        <dd class="col-sm-8">@Model.ScientificDirectorPost</dd>
                        
                        <dt class="col-sm-4">Телефон:</dt>
                        <dd class="col-sm-8">@Model.ScientificDirectorPhoneNumber</dd>

                        <dt class="col-sm-4">Электронная почта:</dt>
                        <dd class="col-sm-8">@Model.ScientificDirectorEmail</dd>
                    </dl>
                    <form method="post" action="@Url.Action("Delete", "SchoolArticle")">
                        @Html.AntiForgeryToken()
                        <input readonly type="hidden" id="Id" name="Id" asp-for="Id" />
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>